name: CI

on:
  push:
    branches:
    - action
    tags:
    - '*'

jobs:
  build_and_release:
    name: notify-send-rs
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup toolchain
        uses: actions-rs/toolchain@v1
        with:
          override: true
          profile: minimal
          toolchain: nightly
          target: x86_64-unknown-linux-gnu

      - name: Build with zbus
        run: >
          rustup component add rust-src --toolchain nightly
          cargo install cross;
          cross +nightly build -Z build-std=std,panic_abort -Z build-std-features=panic_immediate_abort --release --target x86_64-unknown-linux-musl;
          mv -fv target/x86_64-unknown-linux-musl/release/notify-send-rs .

      - name: Build with dbus
        run: >
          echo -e '\n[dependencies.dbus]\nversion = "0.9.7"\nfeatures = ["vendored"]' >> Cargo.toml;
          cross +nightly build -Z build-std=std,panic_abort -Z build-std-features=panic_immediate_abort --release --target x86_64-unknown-linux-gnu --features d --no-default-features;
          mv -fv target/x86_64-unknown-linux-gnu/release/notify-send-rs ./notify-send-rs-dbus

      - name: Strip UPX TAR
        run: >
          sudo bash -c 'apt update && apt install upx binutils -y';
          strip -s -R .comment -R .gnu.version --strip-unneeded notify-send-rs;
          strip -s -R .comment -R .gnu.version --strip-unneeded notify-send-rs-dbus;
          upx -9 --best notify-send-rs -o notify-send-rs-upx;
          upx -9 --best notify-send-rs-dbus -o notify-send-rs-dbus-upx;
          tar -acvf notify-send-rs.tar.xz ./notify-send-rs*

      - name: Build archlinux package
        uses: countstarlight/arch-makepkg-action@master
        with:
          scripts: makepkg

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: notify-send-rs.*tar.*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
